#title{
  text-align: center;  
}
#create-account{
  text-align: center;
  padding: 10px;
  margin: 10px;
}
#login{
  text-align: center;
  padding: 10px;
  margin: 10px;
}
#buttons{
  display: flex;
  justify-content: center;
  align-content: center;
}
.form-label{
  display: block;
  margin: 10px;
}
.form-label input{
  display: block;
  margin-top: 5px;
  width:50%;
}
#submitButton{
  display: flex;
  justify-content: center;
  align-content: center;
}